{{template "partials/header" .}}

<body>
    {{template "partials/nav" .}}
    <main class="container">
        <h1>{{.Title}}</h1>
        <form>
            <label for="url">
                URL
                <input type="text" id="url" name="url" placeholder="http://" required value="{{.Link.URL}}">
            </label>
            <button type="submit" onclick="event.preventDefault(); addNewLink({{.Link.ID}})">Submit</button>
        </form>
    </main>
</body>
<script type="text/javascript" src="/js/app.js"></script>

</html>