{{template "partials/header" .}}

<body>
    {{template "partials/nav" .}}
    {{if .Flash}}
    <div class='notification {{if eq .Flash "success"}}is-success{{end}} {{if eq .Flash "error"}}is-danger{{end}}'>
        <button class="delete"></button>
        {{.Message}}
    </div>
    {{end}}
    <section class="section">
        <main class="container">
            <table class="table is-align-content-center is-fullwidth">
                <thead>
                    <tr>
                        <th scope="col">{{.e.Label.Link}}</th>
                        <th scope="col">{{.e.Label.Clicks}}</th>
                        <th scope="col">{{.e.Label.Active}}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Links}}
                    <tr>
                        <td><a href="/r/{{.Key}}" title='{{$.e.Label.AddedAt}} {{.CreatedAt.Format "2006-01-02 15:04"}}'>{{.Title}}</a></td>
                        <td>{{len .Clicks}}</td>
                        <td>
                            <fieldset>
                                <input type="checkbox" role="switch" {{if .Active}}checked{{end}} onclick="switchLink(' {{.ID}}')">
                            </fieldset>
                        </td>
                        <td><button class="delete" onclick="deleteLink('{{.ID}}')"></button></td>
                    </tr>
                    {{end}}
            </table>
            {{if .Links}}
            {{template "partials/pagination" .}}
            {{end}}
        </main>
    </section>
</body>

<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?always=1&showNoConsent=1"></script>

</html>