{{template "partials/header" .}}

<body>
    {{template "partials/nav" .}}
    <main class="container">
        <table>
            <thead>
                <tr>
                    <th scope="col">Lien</th>
                    <th scope="col">Clics</th>
                    <th scope="col">Ajouté le</th>
                    <th scope="col">Actif</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{range .Links}}
                <tr>
                    <td><a href="/r/{{.Key}}">{{.Title}}</a></td>
                    <td>{{len .Clicks}}</td>
                    <td>{{.CreatedAt.Format "2006-01-02 15:04"}}</td>
                    <td>
                        <fieldset>
                            <input type="checkbox" role="switch" {{if .Active}}checked{{end}} onclick="switchLink({{.ID}})">
                        </fieldset>
                    </td>
                    <td><button onclick="deleteLink({{.ID}})">X</button></td>
                </tr>
                {{end}}
        </table>
    </main>
</body>
<script type="text/javascript" src="/js/app.js"></script>

</html>